NUXT_PUBLIC_GA_MEASUREMENT_ID=G-P46K3PK4KD
NUXT_PUBLIC_GTM_CONTAINER_ID=GTM-WXGV32T9
NUXT_PUBLIC_GTM_AUTH=UvX2WLFuE3k0QgzT03_Zww
NUXT_PUBLIC_GTM_PREVIEW=env-21
NUXT_PUBLIC_GTM_COOKIES_WIN=x
NUXT_PUBLIC_APP_ENVIRONMENT=development